.about-us_title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  letter-spacing: -0.03px;
}

.about-us_text {
  width: 1048px;
  font-size: 45px;
  margin-bottom: 29px;
  margin-left: 2px;
  line-height: 61px;
  letter-spacing: -0.03em;
}

.about-us_btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 150px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: #ad1818;
  color: #ffffff;

}

@media (max-width: 1199px) {
  .about-us_text {
    width: 690px;
    font-size: 35px;
    line-height: 48px;
  }

    .about-us_btn {
      padding: 20px 40px;
      font-size: 19px;
      line-height: 27.32px;
      margin-bottom: 120px;
    }
}

@media (max-width: 767px) {
  .about-us_title {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 20px;
      letter-spacing: -0.03px;
      color: #121212;
    }
  
  .about-us_text {
    width: 100%;
    font-size: 22px;
    line-height: 30px;
    margin-left: 0px;
  }

  .about-us_btn {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 80px;
    padding: 14.5px 24px;
  }
}
