.footer {
    padding: 65px 0 30px 5px;
    background: #121212;
}

.nav-footer {
    width: 470px;
    height: 25px;
    margin: 0 auto;
}

.nav_footer_link {
    display: inline-block;
    box-sizing: border-box;
    height: 25px;
    font-size: 18px;
    margin-right: 54px;
    letter-spacing: -0.03em;
    color: #ffffff;
    text-decoration: none;
}

.nav_footer_link:nth-last-child(1) {
    margin-right: 0;
}

.footer-title {
    text-align: center;
    height: 27px;
    font-size: 20px;
    line-height: 15px;
    margin-top: 89px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
    color: #ffffff;
    opacity: 0.5;
}

.nav_footer_link:hover {
    border-bottom: 1px solid;
    color: rgb(166, 166, 166);
    opacity: 0.5;
}