html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Manrope', sans-serif; 
    letter-spacing: -0.03em;
    width: 100%;
    background: #F5F5F5; 
}

.properties_project {
    max-width: 1400px;
    margin: 0 auto;
    background: #FFFFFF;
}

.contеnt {
    padding-top: 33px;
    width: 1150px;
    padding-left: 125px;
    padding-right: 125px;
}


/* Блок описание */

.nav_container {
    width: 1151.35px;
    height: 25px;
    margin-bottom: 70px;
}

.logo-link {
    display: inline-block;
    width: 127px;
    height: 22;
}



.nav {
    display: inline;
    float: right;
    vertical-align: top;
}

.nav_link {
    display: inline-block;
    margin-right: 57px;
    size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
}

.nav_link_activ {
    border-bottom: 1px solid;
    opacity: 0.5;
}

.nav_link:hover {
    text-decoration: underline;
    color: rgb(166, 166, 166);
    opacity: 0.5;
}


.nav_link_activ:hover {
    text-decoration: none;
}

.nav_link_last {
    margin-right: 0px;
}


.project_title {
    width: 956PX;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    font-style: normal;
    letter-spacing: -0.03em;
}

.img-caption {
    position: relative;
    box-sizing: border-box;
    width: 1150px;
    height: 500px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-image: url('../resources/Rectangle 1.png');
}

.img-text {
    position: absolute;
    width: 430px;
    left: 40px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27.32px;
    color: #FFFFFF;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    letter-spacing: -0.03px;
}

.studio_desc {
    width: 1048px;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 61.47px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

.btn-services {
    display: block;
    text-align: center;
    color: #FFFFFF;
    width: 255px;
    height: 67px;
    margin-bottom: 150px;
    text-decoration: none;
    background: #AD1818;
    border-radius: 5px;
    line-height: 67px;
}

/* Блок "ПРОЕКТЫ" */


.projects_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
    color: #121212;
}

.project-img {
    margin-bottom: 15px;
}

.project-name {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 15px;
    color: #121212;
}

.project-btn {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 90px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #AD1818;
}


.box-btn {
    width: 1150px;
    height: 153px;
    margin-bottom: 150px; 
    border: 1px solid #AD1818;
    border-radius: 5px
}

.see-projects {
    display: block;
    width: 1150px;
    text-decoration: none;
    padding-top: 56px;
    padding-bottom: 56px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.see-projects:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

/* Блок услуги */

.container-services {
    width: 1400px;
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    height: 1844px;
    background: #121212;
}


.services-head {
    width: 66px;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 150px 0 0 2px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}


.services-block {
    margin-bottom: 60px;

}
.img-services-one {
    margin-top: 210px;
}

.img-services {
    margin-bottom: 15px;
}

.services-block:nth-last-child(1) {
    margin: 0;
    padding-bottom: 150px;
}

.services-title {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}


.project-apartament {
    position: relative;
    height: 717px;
    background-image: url('../resources/project.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.project-apartament-text {
    position: absolute;
    width: 443px;
    left: 125px;
    bottom: 60px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}







